/* IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* ROOT */
:root {
    --warna-primer: #059212;
    --warna-second: #06D001;
    --warna-third: #9BEC00;
    --warna-main: #F3FF90;
}


/* STYLE */

* {
    margin: 0;
    box-sizing: border-box;
    
}

html {
    font-size: 16px;
    font-family: "Roboto", sans-serif;

}

header {
    height: fit-content;
    display: flex;
    justify-content: space-between;
    background-color: var(--warna-primer);
    align-items: center;
    position: sticky;
    padding: 10px 20px;
}

header h1 {
    font-size: 2.5rem;
}

nav {
    display: flex;
    gap: 5px;
    font-size: 1.2rem;
}

nav p {
    padding: 5px 10px;
    transition: 0.5s ease;
    border-radius: 10px;
}

nav p:hover {
    color: var(--warna-second);
    background-color: var(--warna-main);
    border-radius: 10px;
    padding: 5px 10px;
}

#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 93vh;
    padding: 10px 20px;
    flex-wrap: wrap;
    gap: 30px;
}

#profile h2 {
    font-size: 2rem;
}

#profile table {
    background-color: ;
}